<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="220" side="left">
    <ion-content>
      <ion-list>

        <div class="item item-divider" align="right">INFORMATION</div>
        <ion-item nav-clear menu-close href="#/app/media">
          <div align="right" style="margin-right: -25px;">Media</div>
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/venue">
          <div align="right" style="margin-right: -25px;">Venue</div>
        </ion-item>
       

        <ion-item nav-clear menu-close href="#/app/schedule">
          <div align="right" style="margin-right: -25px;">Schedule</div>
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/workshops">
          <div align="right" style="margin-right: -25px;">Workshops</div>
        </ion-item>




        <br /><div class="item item-divider" align="right">PEOPLE</div>

        <ion-item nav-clear menu-close href="#/app/speakers">
          <div align="right" style="margin-right: -25px;">Speakers</div>
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/sponsors">
          <div align="right" style="margin-right: -25px;">Sponsors</div>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/organizers">
          <div align="right" style="margin-right: -25px;">Organizers</div>
        </ion-item>        
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>