<ion-view view-title="ORGANIZERS">
  <ion-header-bar class="bar-stable">
  </ion-header-bar>
  <ion-content>

<div class="card">
  <div class="text-center">
    <div class="item item-divider item-text-wrap">
      <div style="text-align: center;">
        ADVISORY COMMITTEE</div>
      </div><br />

    <a href="https://www.linkedin.com/in/adriandcchan" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Adrian_Chan.png');">
    </div> </a>
    Dr. Adrian Chan
    <br />
    <strong>Professor, Associate Dean, Programs & Awards</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/sreeraman-rajan-82586525" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Sreeraman_Rajan.png');">
    </div></a>
    Dr. Sreeraman Rajan
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/jamesgreen5" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/James_Green.jpg');">
    </div> </a>
    Dr. James Green
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/natalie-baddour-1344874" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Natalie.png');">
    </div> </a>
    Dr. Natalie Baddour
    <br />
    <strong>Department Chair & Associate Professor</strong>
    <br />
    University of Ottawa
    <br><br>

    <a href="https://www.linkedin.com/in/yuu-ono-9731755" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Yuu_Ono.jpg');">
    </div> </a>
    Dr. Yuu Ono
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/mojtaba-ahmadi-0035347" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Motjaba_Ahmadi.jpg');">
    </div> </a>
    Dr. Mojtaba Ahmadi
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/mona-nemer-804b9828" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Dr.png');">
    </div> </a>
    Dr. Mona Nemer
    <br />
    <strong>Vice-President Research</strong>
    <br />
    University of Ottawa
    <br><br>

    <a href="https://www.linkedin.com/in/hilmi-dajani-8927a422" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Hilmi_Dajani.png');">
    </div> </a>
    Dr. Hilmi Dajani
    <br />
    <strong>Director of Graduate Biomedical Engineering</strong>
    <br />
    University of Ottawa
    <br><br>

    <a href="https://www.linkedin.com/in/hanspeter-frei-0993a31" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Han.png');">
    </div> </a>
    Dr. Hanspeter Frei
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <a href="https://www.linkedin.com/in/drsawsanmajid" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Sawsan_Abdul_Majid.png');">
    </div> </a>
    Dr. Sawsan Abdul Majid
    <br />
    <strong>Associate Professor</strong>
    <br />
    University of Ottawa
    <br><br>

    <a href="https://www.linkedin.com/in/jenniferngainkin" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Jennifer-Ng-Ain-Kin.jpg');">
    </div> </a>
    Ms. Jennifer Ng-Ain-Kin
    <br />
    <strong>Regulatory Affairs, Project Manager</strong>
    <br />
    Abbott Point of Care
    <br><br>

  </div>
</div>

<div class="card">
  <div class="text-center">
    <div class="item item-divider item-text-wrap">
      <div style="text-align: center;">
        ORGANIZING COMMITTEE</div>
      </div><br />

      <a href="https://www.linkedin.com/in/mohamedabdelazez" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Mohamed.png');">
    </div> </a>
    Mohamed Abdelazez
    <br />
    <strong>Conference Co-Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/zahra-mohammad-13424251" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Zahra.png');">
    </div> </a>
    Zahra Mohammad
    <br />
    <strong>Conference Co-Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/chisholmkyle" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Kyle_Chisholm.png');">
    </div> </a>
    Kyle Chisholm
    <br />
    <strong>Technical Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/alicia-gal-bphe-psff-fis-88856037" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Alicia.png');">
    </div> </a>
    Alicia Gal
    <br />
    <strong>Publicity Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/suzan-bsat-1a296889" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Susan.png');">
    </div> </a>
    Susan Bsat
    <br />
    <strong>Local Arrangement Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/christiane-courtemanche-76ab7864" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Christiane.png');">
    </div> </a>
    Christiane Courtemanche
    <br />
    <strong>Program Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/alifaizan1" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Ali.png');">
    </div> </a>
    Ali Faizan
    <br />
    <strong>Website Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/raymond-greiss-43763179" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Raymond_Greiss.png');">
    </div> </a>
    Raymond Greiss
    <br />
    <strong>Design Competition Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/becky-ng-5144b583" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Becky.png');">
    </div> </a>
    Becky Ng
    <br />
    <strong>Finance Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/lawmarco" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Marco.png');">
    </div> </a>
    Marco Law
    <br />
    <strong>Publications Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/johnny-farah-4558b9108" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Johnny_Farah.png');">
    </div> </a>
    Johnny Farah
    <br />
    <strong>Publications Co-Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in//timothy-duong-9380ab65" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Timothy.png');">
    </div> </a>
    Timothy Duong
    <br />
    <strong>Outreach Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/cat-czyrnyj-89b0019a" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Cat_Czyrnyj.png');">
    </div> </a>
    Cat Czyrnyj
    <br />
    <strong>Outreach Co-Chair</strong>
    <br><br>

    <a href="https://www.linkedin.com/in/zeyad-al-shibaany-19a9422b" class="schedule_link">
    <div class="img-circular" style="background-image: url('img/organizers/Zeyad-Yousif-Al-Shibaany.png');">
    </div> </a>
    Zeyad Yousif Al Shibaany
    <br />
    <strong>Student Ambassador UK</strong>
    <br><br>
  </div>

  </ion-content>
</ion-view>
