<ion-view view-title="ORGANIZERS">
  <ion-header-bar class="bar-stable">
  </ion-header-bar>
  <ion-content>

<div class="card">
  <div class="text-center">
    <div class="item item-divider item-text-wrap">
      <div style="text-align: center;">
        ADVISORY COMMITTEE</div>
      </div><br />

    <div class="img-circular" style="background-image: url('img/organizers/Adrian_Chan.png');">
    </div>
    Dr. Adrian Chan
    <br />
    <strong>Professor, Associate Dean, Programs & Awards</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Sreeraman_Rajan.png');">
    </div>
    Dr. Sreeraman Rajan
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/James_Green.jpg');">
    </div>
    Dr. James Green
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Natalie.png');">
    </div>
    Dr. Natalie Baddour
    <br />
    <strong>Department Chair & Associate Professor</strong>
    <br />
    University of Ottawa
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Yuu_Ono.jpg');">
    </div>
    Dr. Yuu Ono
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Motjaba_Ahmadi.jpg');">
    </div>
    Dr. Mojtaba Ahmadi
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Dr.png');">
    </div>
    Dr. Mona Nemer
    <br />
    <strong>Vice-President Research</strong>
    <br />
    University of Ottawa
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Hilmi_Dajani.png');">
    </div>
    Dr. Hilmi Dajani
    <br />
    <strong>Director of Graduate Biomedical Engineering</strong>
    <br />
    University of Ottawa
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Han.png');">
    </div>
    Dr. Hanspeter Frei
    <br />
    <strong>Associate Professor</strong>
    <br />
    Carleton University
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Sawsan_Abdul_Majid.png');">
    </div>
    Dr. Sawsan Abdul Majid
    <br />
    <strong>Associate Professor</strong>
    <br />
    University of Ottawa
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Jennifer-Ng-Ain-Kin.jpg');">
    </div>
    Ms. Jennifer Ng-Ain-Kin
    <br />
    <strong>Regulatory Affairs, Project Manager</strong>
    <br />
    Abbott Point of Care
    <br><br>

  </div>
</div>

<div class="card">
  <div class="text-center">
    <div class="item item-divider item-text-wrap">
      <div style="text-align: center;">
        ORGANIZING COMMITTEE</div>
      </div><br />

    <div class="img-circular" style="background-image: url('img/organizers/Mohamed.png');">
    </div>
    Mohamed Abdelazez
    <br />
    <strong>Conference Co-Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Zahra.png');">
    </div>
    Zahra Mohammad
    <br />
    <strong>Conference Co-Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Kyle_Chisholm.png');">
    </div>
    Kyle Chisholm
    <br />
    <strong>Technical Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Alicia.png');">
    </div>
    Alicia Gal
    <br />
    <strong>Publicity Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Susan.png');">
    </div>
    Susan Bsat
    <br />
    <strong>Local Arrangement Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Christiane.png');">
    </div>
    Christiane Courtemanche
    <br />
    <strong>Program Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Ali.png');">
    </div>
    Ali Faizan
    <br />
    <strong>Website Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Raymond_Greiss.png');">
    </div>
    Raymond Greiss
    <br />
    <strong>Design Competition Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Becky.png');">
    </div>
    Becky Ng
    <br />
    <strong>Finance Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Marco.png');">
    </div>
    Marco Law
    <br />
    <strong>Publications Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Johnny_Farah.png');">
    </div>
    Johnny Farah
    <br />
    <strong>Publications Co-Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Timothy.png');">
    </div>
    Timothy Duong
    <br />
    <strong>Outreach Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Cat_Czyrnyj.png');">
    </div>
    Cat Czyrnyj
    <br />
    <strong>Outreach Co-Chair</strong>
    <br><br>

    <div class="img-circular" style="background-image: url('img/organizers/Zeyad-Yousif-Al-Shibaany.png');">
    </div>
    Zeyad Yousif Al Shibaany
    <br />
    <strong>Student Ambassador UK</strong>
    <br><br>
  </div>

  </ion-content>
</ion-view>
