<ion-view view-title="SCHEDULE">
	<ion-header-bar class="bar-stable">
	</ion-header-bar>

	<ion-tabs class="tabs-top tabs-stable">

		<ion-tab title="MAY 29">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">MAY 29</a>
			</iom-header-bar>

			<ion-content>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>12:30 pm</strong>
			  			<br />to 1:00 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-gray">
			  				<strong>Registration Opens</strong>
			  				<br />
			  				<div class="event-location">(RB Atrium)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>1:00 pm</strong>
			  			<br />to 2:30 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-green">
			  				<strong>High School Students Workshop</strong>
			  				<br />
			  				<br />
			  				<br />
			  				<div class="event-location">(RB 2100)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>2:30 pm</strong>
			  			<br />to 3:30 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-blue">
			  				<strong>Carleton Laboratory Tours</strong>
			  				<br />
			  				<br />
			  				<div class="event-location"></div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>3:30 pm</strong>
			  			<br />to 6:00 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-red">
			  				<strong>Design Competition Judging</strong>
			  				<br />
			  				<br />
			  				<br />
			  				<br />
			  				<br />
			  				<div class="event-location">(RB Theatre)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>6:00 pm</strong>
			  			<br />to 10:00 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-blue">
			  				<strong>Welcome Reception</strong>
			  				<br />
			  				<br />
			  				<br />
			  				<div class="event-location">(RB Atrium)</div>
			  			</div>
			  		</div>
			  	</div>
			</ion-content>
		</ion-tab>


		<ion-tab title="MAY 30">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">MAY 30</a>
			</iom-header-bar>

			<ion-content>
				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>7:30 am</strong>
				  		<br />to 8:30 am
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Refreshments & Registration</strong>
				  			<br />
				  			<br />
				  			<div class="event-location">(RB Atrium)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>8:30 am</strong>
				  		<br />to 10:00 am
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-blue">
							<a href="#/app/speakers" class="schedule_link">
				  			<strong>Welcome Speech / Planary Session</strong>
				  			<br /> Dr. Barbara Oakley
				  			<br />
				  			<br /> </a>
				  			<div class="event-location">(RB Theatre)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>10:00 am</strong>
				  		<br />to 10:30 am
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Networking Break</strong>
				  			<br />
				  			<div class="event-location">(RB Atrium)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>10:30 am</strong>
				  		<br />to 12:00 pm
				  	</div>
				  	<div class="col">
				  		<a href="#/app/tracks_monday" class="schedule_link">
				  		<div class="rounded-event event-purple">
				  			<strong>Technical Session</strong>
				  			<br />
				  			<br />
				  			<br />
				  			<div class="event-location">(Various)</div>
				  		</div>
				  		</a>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>12:00 pm</strong>
				  		<br />to 1:00 pm
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Lunch</strong>
				  			<br />
				  			<br />
				  			<div class="event-location">(RB Atrium)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>1:00 am</strong>
				  		<br />to 2:30 pm
				  	</div>
				  	<div class="col">
				  		<a href="#/app/speakers" class="schedule_link">
				  		<div class="rounded-event event-purple">
				  			<strong>Special Session</strong>
				  			<br /> Ins and Outs of Start-Ups
				  			<br />
				  			<br />
				  			<div class="event-location">(RB 2100)</div>
				  		</div>
				  	</div>
					<div class='col'>
						<div class="rounded-event event-purple">
							<strong> Plenary Session </strong>
							<br> Dr. Samir M. Iqbal
							<br>
							<br>
							<div class="event-location">(RB Theatre)</div>
						</div>
					</a>
					</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>2:30 pm</strong>
				  		<br />to 3:00 pm
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Networking Break</strong>
				  			<br />
				  			<div class="event-location">(RB Atrium)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>3:00 pm</strong>
				  		<br />to 5:00 pm
				  	</div>
					<div class="col">
						  <a href="#/app/speakers" class="schedule_link">
						  <div class="rounded-event event-purple">
							  <strong>Workshop</strong>
							  <br /> Advanced Biomedical Imaging Techniques
							  <br /> at the CLWS Synchrotron
							  <br />
							  <div class="event-location">(RB 2100)</div>
						  </div>
					  </div>
					  <div class='col'>
						  <div class="rounded-event event-purple">
							  <strong> Special Session </strong>
							  <br> Ins and Outs of Academia
							  <br>
							  <br>
							  <div class="event-location">(RB Theatre)</div>
						  </div>
					  </a>
					  </div>
					</div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>5:00 pm</strong>
				  		<br />to 6:00 pm
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Break</strong>
				  			<br />
				  			<br />
				  			<br />
				  			<div class="event-location"></div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>6:00 pm</strong>
				  		<br />to 6:30 pm
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-gray">
				  			<strong>Bus Pick up to Gala Dinner</strong>
				  			<div class="event-location">(TBD)</div>
				  		</div>
				  	</div>
				  </div>

				  <div class="row">
				  	<div class="col col-33 text-center">
				  		<strong>6:30 pm</strong>
				  		<br />to 12:00 am
				  	</div>
				  	<div class="col">
				  		<div class="rounded-event event-blue">
							<a href="#/app/speakers" class="schedule_link">
				  			<strong>Gala Dinner</strong>
				  			<br /> Dick Bourgeois-Doyle
				  			<br />
				  			<br />
				  			<br />
				   			<br />
				  			<br />
				   			<br />
				  			<br />
				   			<br />
				  			<br />
				  			<br /> </a>
				  			<div class="event-location">(Shaw Centre)</div>
				  		</div>
				  	</div>
				  </div>
			</ion-content>
		</ion-tab>

		<ion-tab title="MAY 31">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">MAY 31</a>
			</iom-header-bar>

			<ion-content>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>7:30 am</strong>
			  			<br />to 8:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-gray">
			  				<strong>Refreshments</strong>
			  				<br />
			  				<br />
			  				<div class="event-location">(RB Atrium)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:30 am</strong>
			  			<br />to 10:00 am
			  		</div>
			  		<div class="col">
			  			<a href="#/app/tracks_tuesday" class="schedule_link">
			  			<div class="rounded-event event-purple">
			  				<strong>Special Presentations / Technical Sessions</strong>
			  				<br />
			  				<br />
			  				<div class="event-location">(Various)</div>
			  			</div>
			  			</a>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>10:00 am</strong>
			  			<br />to 10:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-gray">
			  				<strong>Networking Break</strong>
			  				<br />
			  				<div class="event-location">(RB Atrium)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>10:30 am</strong>
			  			<br />to 12:30 pm
			  		</div>
					<div class="col">
						<a href="#/app/workshops" class="schedule_link">
						<div class="rounded-event event-green">
							<strong>Workshop</strong>
							<br /> The End-User as Knowledge
							<br /> Expert: How Empath Can Unlock Valuable Insight for Design and Development
							<div class="event-location">(RB Theatre)</div>
						</div>
					</div>
					<div class='col'>
						<div class="rounded-event event-green">
							<strong> Workshop </strong>
							<br> 3D Slicer: Hands-On Introduction
							<br> to Medical Image Visulization
							<br>
							<div class="event-location">(RB 2100)</div>
						</div>
					</div>
					<div class='col'>
						<div class="rounded-event event-green">
							<strong> Workshop </strong>
							<br> Prediciting the Future! Learning with Microsoft
							<br>
							<br>
							<div class="event-location">(RB 2311)</div>
						</div>
						</a>
					</div>
				  </div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>12:30 pm</strong>
			  			<br />to 1:30 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-red">
							<a href="#/app/speakers" class="schedule_link">
			  				<strong>Lunch / WiE Panel</strong>
			  				<br />
			  				<br />
			  				<div class="event-location">(RB Atrium / Theatre)</div>
							</a>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>1:30 pm</strong>
			  			<br />to 2:30 pm
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-blue">
			  				<strong>Closing Ceremonies & Awards</strong>
			  				<br />
			  				<br />
			  				<div class="event-location">(RB Theatre)</div>
			  			</div>
			  		</div>
			  	</div>
			</ion-content>
		</ion-tab>

	</ion-tabs>
	<ion-content>
	</ion-content>
</ion-view>
