<ion-view view-title="CONFERENCE SPONSORS">
  <ion-header-bar class="bar-stable">
  </ion-header-bar>
  <ion-content>
  	
	<div class="card text-center">
	  <div class="item item-divider">
	    GALA PARTNER
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://carleton.ca/engineering-design/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/CU_FED-1024x161.jpg" style="max-width: 100%;">
	    </a>
	  </div>
	</div>
	
	<div class="card text-center">
	  <div class="item item-divider">
	    WELCOME RECEPTION PARTNER
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('https://www.uottawa.ca/en',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/University_Ottawa-300x128.png" style="max-width: 75%;"></a>
	  </div>
	</div>

	<div class="card text-center">
	  <div class="item item-divider">
	    PLATINUM PARTNER
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.ieeeottawa.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/IEEEOttawa.png" style="max-width: 75%;"></a>
	  </div>
	</div>

	<div class="card text-center">
	  <div class="item item-divider">
	    DESIGN COMPETITION PARTNER
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://timprogram.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/TIM-Logo-300x217.png" style="max-width: 50%;"></a>
	  </div>
	</div>

	<div class="card text-center">
	  <div class="item item-divider">
	    SILVER PARTNERS
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.charlatan.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/charlatan_web.png" style="max-width: 75%; "></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.ieeecanadianfoundation.org/EN/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/ICF.gif" style="max-width: 75%;"></a>
	  </div>
	</div>

	<div class="card text-center">
	  <div class="item item-divider">
	    EXHIBITORS
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.abbott.ca/en/index.html',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/abbott.png" style="max-width: 75%;"></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.cs.queensu.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/queens_university.png" style="max-width: 75%;"></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://hackinghealth.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/hackinghealth-300x177.jpg" style="max-width: 75%;"></a>
	    <br />* Welcome Reception Only
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://gaittronics.com/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/thumbnail_Gaittronics-300x55.png" style="max-width: 75%;"></a>
	    <br />* Welcome Reception Only
	  </div>  
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.ieeeottawa.ca/wie/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/ieee_wie_purple.jpg" style="max-width: 55%;"></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://carleton.ca/cc/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/Co-op-Office.png" style="max-width: 80%;"></a>
	  </div>	
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://carleton.ca/datascience/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/Institute-for-Data-Science-1.png" style="max-width: 80%;"></a>
	  </div>	
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.meddevcentre.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/MDCC-Logo-2016v2-large.png" style="max-width: 75%;"></a>
	  </div>	
	</div>

	<div class="card text-center">
	  <div class="item item-divider">
	    SUPPORTERS
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.ieee.org/index.html',
	  	'_system', 'location=yes'); return false;">	    
	    	<img src="img/IEEELogo-300x107.jpg" style="max-width: 75%; "></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.embs.org/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/IEEE-EMBS-1024x306.png" style="max-width: 75%;"></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://gsacarleton.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/GSA.png" style="max-width: 50%;"></a>
	  </div>
	  <div class="item item-text-wrap">
	  	<a href="#" onclick="window.open('http://www.cusaonline.ca/',
	  	'_system', 'location=yes'); return false;">
	    	<img src="img/CUSA.jpg" style="max-width: 75%;"></a>
	  </div>
	</div>

  </ion-content>
</ion-view>
