<ion-view view-title="TUESDAY TRACKS">
	<ion-header-bar class="bar-stable">
	</ion-header-bar>

	<ion-tabs class="tabs-top tabs-stable">
		<ion-tab title="TRACK 4">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">TRACK 4</a>
			</iom-header-bar>
			<ion-content>

			    <div class="item item-divider item-text-wrap">
			      <div style="text-align: center;">
			        BIOINFORMATICS, MODELLING AND CLASSIFICATION  </div>
			      </div>

				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:30 am</strong>
			  			<br />to 8:45 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Predicting Novel Protein-Protein Interactions Between the HIV-1 Virus and Homo Sapiens</strong>
			  				<br />
			  				by Bradley Barnes, Maryam Karimloo, Andrew Schoenrock, Daniel Burnside, Edana Cassol, Alex Wong, Frank Dehne, Ashkan Golshani and James R. Green
			  				<div class="event-location">(RB 1200)</div>
			  			</div>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:45 am</strong>
			  			<br />to 9:00 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Using Convolutional Neural Networks for Natural Saccade Classification from Electroencephalography Signals</strong>
			  				<br />
			  				by Alexandre Drouin-Picaro and Tiago Henrique Falk
			  				<div class="event-location">(RB 1200)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:00 am</strong>
			  			<br />to 9:15 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Comparison of Sequence- and Structure-Based Protein-Protein Interaction Sites</strong>
			  				<br />
			  				by Kevin Dick and James Green
			  				<div class="event-location">(RB 1200)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:15 am</strong>
			  			<br />to 9:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>An interoperable common storage system for share dialysis clinical data</strong>
			  				<br />
			  				by Domenico Vito, Giustina Casagrande, Camilla Bianchi and Maria Laura Costantino
			  				<div class="event-location">(RB 1200)</div>
			  			</div>
			  		</div>
			  	</div>

			</ion-content>
		</ion-tab>
		<ion-tab title="TRACK 5">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">TRACK 5</a>
			</iom-header-bar>
			<ion-content>

			    <div class="item item-divider item-text-wrap">
			      <div style="text-align: center;">
			        COMPUTATIONAL MODELLING AND SIMULATION  </div>
			      </div>

				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:30 am</strong>
			  			<br />to 8:45 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Modal Analysis of a Parameterized Model of Pathological Vocal Fold Vibration</strong>
			  				<br />
			  				by Raymond Greiss, Joana Rocha, and Edgar Matida
			  				<div class="event-location">(RB 1201)</div>
			  			</div>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:45 am</strong>
			  			<br />to 9:00 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Machine Learning Model for Temporal Pattern Recognition</strong>
			  				<br />
			  				Catherine Inibhunu and Carolyn McGregor
			  				<div class="event-location">(RB 1201)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:00 am</strong>
			  			<br />to 9:15 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Modeling and Analysis of a Novel Approach for Particle Separation Using Time-Varying Amplitude Dielectrophoresis</strong>
			  				<br />
			  				by Paresa Modarres and Maryam Tabrizian
			  				<div class="event-location">(RB 1201)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:15 am</strong>
			  			<br />to 9:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Statistical Features Extraction for Multivariate Pattern Analysis in Meditation EEG using PCA
</strong>
			  				<br />
			  				by Laxmi Shaw and Aurobinda Routray
			  				<div class="event-location">(RB 1201)</div>
			  			</div>
			  		</div>
			  	</div>

			</ion-content>
		</ion-tab>
		<ion-tab title="TRACK 6">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">TRACK 6</a>
			</iom-header-bar>
			<ion-content>

			    <div class="item item-divider item-text-wrap">
			      <div style="text-align: center;">
			        MEDICAL IMAGING, VISUALIZATION AND IMAGE PROCESSING  </div>
			      </div>

				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:30 am</strong>
			  			<br />to 8:45 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Portable Real-time PCR System Using Tablet-based Fluorescence Imaging</strong>
			  				<br />
			  				by Hayden Bialek, Jacob Dawes, Donald Heer and Matthew Johnston
			  				<div class="event-location">(RB 3201)</div>
			  			</div>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:45 am</strong>
			  			<br />to 9:00 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Urogenital Kinematics Mesaured in the Sagittal Plane using a Novel Ultrasound Image Processing Approach</strong>
			  				<br />
			  				by Catriona Czyrnyj, Michel Labrosse and Linda McLean
			  				<div class="event-location">(RB 3201)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:00 am</strong>
			  			<br />to 9:15 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Evaluation of a T1 Mapping Technique for Stratifying Patient Risk: A Preliminary Study using Computer Simulations of Cardiac Electrophysiology</strong>
			  				<br />
			  				by George Hanna and Eranga Ukwatta
			  				<div class="event-location">(RB 3201)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:15 am</strong>
			  			<br />to 9:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Computer-Aided Diagnosis of Hirschsprung’s Disease

</strong>
			  				<br />
			  				by Marco Law, Adrian Chan and Dina El Demellawy
			  				<div class="event-location">(RB 3201)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:30 am</strong>
			  			<br />to 9:45 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Automatic Multi-segmentation of Abdominal Organs by Level Set with Weighted Global and Local Forces

</strong>
			  				<br />
			  				by Malinda Vania, Deukhee Lee and Sunhee Kim
			  				<div class="event-location">(RB 3201)</div>
			  			</div>
			  		</div>
			  	</div>

			</ion-content>
		</ion-tab>
		<ion-tab title="SPECIAL">
			<iom-header-bar class="bar-subheader bar-stable">
				<a class="tab-item">SPECIAL PRESENTATION</a>
			</iom-header-bar>
			<ion-content>

			    <div class="item item-divider item-text-wrap">
			      <div style="text-align: center;">
			        SPECIAL PRESENTATIONS: TRANSCRIPTOME ANALYSIS IN CANCER DIAGNOSIS AND TREATMENT </div>
			      </div>

				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:30 am</strong>
			  			<br />to 8:45 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Multi-View Matrix Factorizations for High-Throughput Transcriptomatics Data Integration</strong>
			  				<br />
			  				by Yifeng Li

			  				<div class="event-location">(RB 3211)</div>
			  			</div>
			  		</div>
			  	</div>

			  	<div class="row">
			  		<div class="col col-33 text-center">
						<strong>8:45 am</strong>
			  			<br />to 9:00 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Cost-Sensitive Classification on Class-balanced Ensembles for Imbalanced Non-coding RNA Data</strong>
			  				<br />
			  				by Bashier Elkarami, Abedalrhman Alkhateeb and Luis Rueda
			  				<div class="event-location">(RB 3211)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:00 am</strong>
			  			<br />to 9:15 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>A new clustering method using wavelet-based probability density functions (PDF) for identifying patterns in time series
</strong>
			  				<br />
			  				by Mojtaba Kordestani, Abedalrhman Alkhateeb, Iman Rezaeian, Luis Rueda and Mehrdad Saif
			  				<div class="event-location">(RB 3211)</div>
			  			</div>
			  		</div>
			  	</div>
				<div class="row">
			  		<div class="col col-33 text-center">
						<strong>9:15 am</strong>
			  			<br />to 9:30 am
			  		</div>
			  		<div class="col">
			  			<div class="rounded-event event-purple">
			  				<strong>Survey on Machine learning approaches for transcriptomatics analysis

</strong>
			  				<br />
			  				by Ashraf Abo Table

			  				<div class="event-location">(RB 3211)</div>
			  			</div>
			  		</div>
			  	</div>

			</ion-content>
		</ion-tab>
	</ion-tabs>
	<ion-content>
	</ion-content>
</ion-view>
