<ion-view view-title="VENUE">
  <ion-header-bar class="bar-stable">
  </ion-header-bar>
  <ion-content>

    <div class="card text-justify">
      <div class="item item-divider item-text-wrap">
        <div style="text-align: center;">
          CONFERENCE
        </div>
      </div>
      <div class="item item-text-wrap"  style="font-size: 13px;">
        <img src="img/Atrium-1000x500.jpg" style="max-width: 100%;" />

        <br> <strong>1125 Colonel By Drive, Ottawa</strong>
        <br /><br />The conference will be hosted at Carleton University’s River Building.
      </div>
    </div>

    <div class="card text-justify">
      <div class="item item-divider item-text-wrap">
        <div style="text-align: center;">
          GALA DINNER
        </div>
      </div>
      <div class="item item-text-wrap"  style="font-size: 13px;">
        <img src="img/Shaw-Centre-3-1000x500.jpg" style="max-width: 100%;" />
        <br> <strong>55 Colonel By Drive, Ottawa</strong>

        <br /><br />The Gala will be hosted at the Shaw Centre, the second best convention centre in the  World.
        The Shaw Centre offers a magnificent view of the Canadian Parliament Hill and the historic Rideau   Canal.
      </div>


  </ion-content>
</ion-view>
